section#product {
  a: c;
}
section#product div.wrap {
  a: c;
}
section#product div.wrap h2 {
  a: c;
}
section#product div.wrap ul {
  a: c;
}
section#product div.wrap ul li {
  a: c;
}
section#product div.wrap ul li a {
  a: c;
}
section#product div.wrap ul li a figure {
  a: c;
}
section#product div.wrap ul li a figure img {
  a: c;
}
section#product div.wrap ul li a figure figcaption {
  a: c;
}
section#product div.wrap ul li a figure figcaption h3 {
  a: c;
}
section#product div.wrap ul li a figure figcaption p {
  a: c;
}