section#promotion{a:b;
    div.wrap{a:b;
        h2{a:b;

        }
        ul{a:b;
            li{a:b;
                a{a:b;
                    h3{a:b;
                        strong{a:b;

                        }
                        i{a:b;

                        }
                    }
                    p{a:b;

                    }
                }
            }
        }
    }
}